<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/styles/main.css" />
        <script src="/js/main.js" defer></script>

        <title>Products</title>
    </head>
    <body>
        <header class="b-header d-flex justify-content-center">
            <nav class="b-header__nav d-flex justify-content-between align-items-center">

                {{#if isAdmin}}
                    <a class="b-header__admin b-header__link--user" href="/admin">Admin Options</a>
                {{/if}}

                <div class="d-flex justify-content-between">
                    <h3><a class="b-header__link" href="/">Inicio</a></h3>
                    <h3><a class="b-header__link" href="/products/shop">Tienda</a></h3>
                </div>
                <div class="b-header__user-auth d-flex justify-content-between align-items-center">
                    <h3><a class="b-header__link b-header__link--cart" href="/cart">Cesta</a></h3>
                    {{#if user}}
                        <form
                            class="b-header__logout d-flex align-items-center justify-content-center"
                            action="/auth/logout"
                            method="post"
                        >
                            <input class="b-header__button" type="submit" value="Logout" />
                        </form>
                    {{else}}
                        <h3><a
                                class="b-header__link b-header__link--user"
                                href="/auth/login"
                            >Login</a></h3>
                        <h3><a
                                class="b-header__link b-header__link--user"
                                href="/auth/register"
                            >Registro</a></h3>
                    {{/if}}
                </div>

            </nav>
        </header>
        <main class="b-main d-flex">
            <aside>
                <nav class="b-sidebar">
                    <ul>
                        <li class="b-sidebar__block">
                            <span class="b-sidebar__block-title">Tienda</span>
                            <ul>
                                <li class="b-sidebar__element">
                                    <a href="/products/shop" class="b-sidebar__link">Todos los
                                        productos</a>
                                </li>
                                <li class="b-sidebar__element">
                                    <a href="#" class="b-sidebar__link">PC Sobremesa</a>
                                </li>
                                <li class="b-sidebar__element">
                                    <a href="#" class="b-sidebar__link">Portátiles</a>

                                </li>
                            </ul>
                        </li>
                        <li class="b-sidebar__block">
                            <span class="b-sidebar__block-title">Filtro</span>
                            <ul>
                                <li class="b-sidebar__element">
                                    <a href="#" class="b-sidebar__link">En Oferta</a>

                                </li>
                                <li class="b-sidebar__element">
                                    <a href="#" class="b-sidebar__link">4 estrellas</a>

                                </li>
                                <li class="b-sidebar__element">
                                    <a href="#" class="b-sidebar__link">Últimas unidades</a>
                                </li>

                            </ul>
                        </li>
                        <li class="b-sidebar__block">
                            <span class="b-sidebar__block-title">Ordenar</span>
                            <ul>
                                <li class="b-sidebar__element">
                                    <a href="#" class="b-sidebar__link">Precio menor</a>

                                </li>
                                <li class="b-sidebar__element">
                                    <a href="#" class="b-sidebar__link">Precio mayor</a>

                                </li>
                                <li class="b-sidebar__element">
                                    <a href="#" class="b-sidebar__link">Más vendidos</a>

                                </li>
                            </ul>
                        </li>

                    </ul>
                </nav>
            </aside>
            <section class="b-gallery">
                <h1 class="b-text__title b-text__title--gallery"> Todos los productos</h1>
                <div class="d-flex row flex-wrap">

                    {{#each products}}
                        <div class="b-gallery__product d-flex flex-column col-4">
                            <div class="d-flex justify-content-center">
                                <img class="b-gallery__img" src="/uploads/{{image}}" alt="image" />
                            </div>
                            <span class="b-gallery__text">
                                <a class="b-gallery__link" href="/products/{{_id}}">
                                    {{name}}
                                </a>
                            </span>
                            <span class="b-gallery__text">Procesador: {{processor}}</span>
                            <span>RAM: {{memory}}</span>
                            <span>GPU: {{gpu}}</span>
                            <span>Memoria: {{ssd}}, {{hdd}}</span>
                            <span class="b-gallery__text">Valoración: {{stars}}</span>
                            <div
                                class="b-gallery__price-block d-flex justify-content-between align-items-center"
                            >
                                <span class="b-gallery__text">{{price}} €</span>

                                <button
                                    data-function="addButton"
                                    onclick="addToCart('{{../user}}','{{_id}}')"
                                    class="b-gallery__button"
                                >Añadir</button>
                            </div>
                        </div>
                    {{/each}}
                </div>
            </section>
        </main>

    </body>
</html>