<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/styles/main.css" />

        <title>Users</title>
    </head>
    <body>
        <header class="b-header d-flex justify-content-center">
            <nav class="b-header__nav d-flex justify-content-between">
                <h3><a class="b-header__link" href="/">Inicio</a></h3>
                <h3><a class="b-header__link" href="/products">Productos</a></h3>
                <h3><a class="b-header__link" href="/orders">Pedidos</a></h3>
                <h3><a class="b-header__link" href="/users">Usuarios</a></h3>
                <h3><a class="b-header__link" href="/auth/register">Registro</a></h3>
            </nav>
        </header>
        <main class="b-main">
            <h1 class="b-text__title"> Usuarios</h1>
            <ul>
                {{#each users}}
                    <li>
                        <h4>
                            <a href="/users/{{_id}}">
                                ID:
                                {{_id}}
                            </a>
                        </h4>
                        <h4>Email: {{email}}</h4>
                        <h4>Contraseña: {{password}}</h4>
                        <h4>Nombre: {{name}}</h4>
                        <h4>Apellidos: {{lastName}}</h4>
                        <h4>Dirección: {{adress}}</h4>
                        <h4>País: {{country}}</h4>
                        <h4>Ciudad: {{city}}</h4>
                        <h4>Pedidos: {{orders}}</h4>

                    </li>
                    <hr />
                {{/each}}
            </ul>
        </main>
    </body>
</html>